.mainp {
    min-height: 70vh;
    &__productos {
        img {
            margin: 30px auto;
            height: 250px;
            width: 270px;
            box-shadow: #dddada -7px 7px 20px 0px;
            &:hover {
                @extend %transform;
            }
        }
    }
}