.mainp {
    min-height: 70vh;
    &__productos {
        img {
            border-radius: 10px;
            margin: 30px auto;
            height: 250px;
            width: 270px;
            display:inline-block;
            position:relative;
            box-shadow: #dddada -7px 7px 20px 0px;
            &:hover {
                @extend %transform;
            }
        }
        &--text {
            position:absolute;
            top:0;
            left:0;
            z-index:-1;
            padding:10px;
            margin:0;
        }
    }
}