/* Media querys*/ 
@media (max-width: 768px) {
    /*HTML inicio*/
    .header{
        &__nav {
            &--icon {
                display: block;
                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }
        &__title {
            display: none;
        }
    }
    .logo {
        &__card{
            &--img {
                height:auto;
                width:100px;
            }
        }
    }
    .contenedor {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6" !important;
        img {
            height: 160px !important;
            width: 140px !important;
        }
    }
    .footer{
        &__redes{
            gap:8px;
        }
    }
    /*HTML productos*/
    .mainp {
        img {
            height: 200px;
            width: 220px;
        }
    }
    /*HTML ofertas*/
    .mainoff{
        &__ofertas{
            img {
                height: 180px;
                width: 210px;
            }
        }
    }
}
@media (max-width:576px) {
    /*HTML inicio*/
    .header {
        &__ul {
            font-size: 14px;
        }
    }
    .logo {
        &__card{
            &--img {
                height: auto;
                width: 100px;
            }
        }
    }
    .footer {
        font-size: 8px;
    }
    /*HTML productos*/
    .mainp{
        img {
            height: 80%;
            width: 100%;
        }
    } 
    /*HTML ofertas*/
    .mainoff{
        &__ofertas{
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    /*HTML contacto*/  
    .form{
        &__fieldset {
            padding: 20px;
            margin: 20px;
        } 
    }
}
