/* Media querys*/ 
@media (max-width: 768px) {
    .logo {
        &__card{
            &--img {
                height:auto;
                width:140px;
            }
        }
    }
    .header{
        flex-direction: row;
        align-items: flex-start;
        background-color: $bluedark;
        &__title {
            padding: 16px;
            margin: 0;
        }
        &__ul {
            font-size: 16px;
        }
    }
    /*HTML inicio*/
    .footer{
        &__redes{
            gap:8px;
        }
    }
    /*HTML productos*/
    .mainp {
        img {
            height: 200px;
            width: 220px;
        }
    }
    /*HTML ofertas*/
    .mainoff{
        &__ofertas{
            img {
                height: 180px;
                width: 210px;
            }
        }
    }
}
@media (max-width:576px) {
    /*HTML inicio*/
    .header {
        &__title {
            font-size: 14px;
        }
        &__ul {
            font-size: 10px;
        }
    }
    .logo {
        &__card{
            &--img {
                height: auto;
                width: 150px;
            }
        }
    }

    .footer {
        font-size: 8px;
    }
    /*HTML productos*/
    .mainp{
        img {
            height: 80%;
            width: 100%;
        }
    } 
    /*HTML ofertas*/
    .mainoff{
        &__ofertas{
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    /*HTML contacto*/  
    .form{
        &__fieldset {
            padding: 20px;
            margin: 20px;
        } 
    }
}
